<h3>Supplier List</h3>

<button
  mat-raised-button
  color="primary"
  (click)="openFormItemDialog()"
>
  <mat-icon>add</mat-icon>
  Add Supplier
</button>

<table
  mat-table
  [dataSource]="suppliers"
>
  <ng-container matColumnDef="position">
    <th mat-header-cell *matHeaderCellDef>No.</th>
    <td mat-cell *matCellDef="let i = index;">{{ i + 1 }}</td>
  </ng-container>

  <ng-container matColumnDef="name">
    <th mat-header-cell *matHeaderCellDef>Name</th>
    <td mat-cell *matCellDef="let element">
      {{element.name}}
    </td>
  </ng-container>

  <ng-container matColumnDef="contact">
    <th mat-header-cell *matHeaderCellDef>Contact</th>
    <td mat-cell *matCellDef="let element">{{element.contact}}</td>
  </ng-container>

  <ng-container matColumnDef="itemsSupplied">
    <th mat-header-cell *matHeaderCellDef>Items</th>
    <td mat-cell *matCellDef="let element">
      <a
        matTooltip="Total Items: {{ element.itemsSupplied.length }}"
        (click)="viewItemsSupplied(element)"
      >
        View
      </a>
    </td>
  </ng-container>

  <ng-container matColumnDef="action">
    <th mat-header-cell *matHeaderCellDef></th>
    <td mat-cell *matCellDef="let element">
      <button
        mat-raised-button
        class="ims-button-action"
        (click)="openFormItemDialog(element)"
      >
        <mat-icon>edit</mat-icon>
      </button>
      <br>
      <button
        mat-raised-button
        class="ims-button-action"
        color="warn"
        (click)="deleteItem(element.id)"
      >
        <mat-icon>delete</mat-icon>
      </button>
    </td>
  </ng-container>

  <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
  <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
</table>
