<ng-container
  *ngIf="isAuthenticated; then authenticated; else notAuthenticated">
</ng-container>

<ng-template #authenticated>
  <main class="ims-main">
    <mat-drawer-container class="ims-drawer" hasBackdrop>
      <mat-drawer
        #drawer
        mode="push"
        class="ims-drawer-side"
      >
        <h3>{{ title }}</h3>
  
        <mat-list class="ims-menu">
          <div mat-subheader class="ims-menu-header">Menus</div>
          @for (menu of menusByRole; track menu) {
            <mat-list-item class="ims-menu-item">
              <mat-icon matListItemIcon class="ims-menu-icon">
                {{menu.icon}}
              </mat-icon>
              <a
                [routerLink]="menu.route"
                (click)="drawer.toggle()"
                matListItemTitle
              >
                {{menu.name}}
              </a>
            </mat-list-item>
          }

          @if (isAuthenticated) {
            <mat-list-item class="ims-menu-item">
              <mat-icon matListItemIcon class="ims-menu-icon">
                logout
              </mat-icon>
              <a
                (click)="drawer.toggle();logout()"
                matListItemTitle
              >
                Logout
              </a>
            </mat-list-item>
          }
          @else {
            <mat-list-item class="ims-menu-item">
              <mat-icon matListItemIcon class="ims-menu-icon">
                login
              </mat-icon>
              <a
                routerLink="login"
                (click)="drawer.toggle()"
                matListItemTitle
              >
                Login
              </a>
            </mat-list-item>
          }
        </mat-list>
  
        <div class="ims-drawer-side-footer">
          Copyright &copy; 2024 - Yeppy Mangun P.
        </div>
        
      </mat-drawer>
  
      <mat-drawer-content class="ims-drawer-content">
        <mat-toolbar class="ims-toolbar">
          <button
            mat-icon-button
            class="ims-icon"
            aria-label="Example icon-button with menu icon"
            (click)="drawer.toggle()"
          >
            <mat-icon>{{drawer.opened ? 'close' : 'menu'}}</mat-icon>
          </button>
          <h4 class="ims-toolbar-title">{{ title }}</h4>
        </mat-toolbar>
        
        <div class="ims-content">
          <router-outlet />
        </div>
      </mat-drawer-content>
    </mat-drawer-container>
  </main>
</ng-template>

<ng-template #notAuthenticated>
  <main class="ims-main">
    <router-outlet />
  </main>
</ng-template>
